.row {
    width: 600px;
    margin: 0 auto;
}
.column {
    padding: 1px;
    outline: 1px solid gray;
    outline-offset: -1px;
    float: left;
    width: 98px;
    margin: 0 auto;
}
.container {
    padding: 1px;
    outline: 1px solid gray;
    outline-offset: -1px;
    width: 598px;
    margin: 0 auto;
}
p {
    text-align: center;
}
.catsGallery {
    text-align: center;
}
iframe{
    width: 256px;
    height: 256px;
    border: 0px none transparent;

}